// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$misty-rose: #FEE0E0;
$tea-green: #C9DEA5;
$wintergreen: #588A76;
$darkblue: #5A7385;

