.error-img {
  height: 70%;
  position: absolute;
  bottom: 0;
  z-index: -9999;
}


.error-text {
  box-shadow: $box-shadow;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  z-index: 9999;
  text-align: center;
  font-family: $text;
  line-height: 25px;
}

@media(min-width: 991px) {
  .error-text {
    width: 50%;
  }
}

.error-text-header {
  font-family: $headers;
  box-shadow: $box-shadow;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  z-index: 9999;
  text-align: center;
}