// Specific CSS for your home-page
.home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text-home {
  height: 10%;
}

.img-back {
  height: 45%;
}

.img-home {
  height: 100%;
  object-fit: cover;
}
