$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;


// #------------- first form page -------------


.first-form {
  box-shadow: $box-shadow;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  font-family: $text;
}

.first-form-img {
  width: 55vh;
}

.page-container {
  margin-top: 10vh;
}

h1 {
  font-family: $headers;
  font-weight: bold;
}


// ---------------- error page ---------------------



.error-image {
position: absolute;
bottom: 0;
}

.error-text {
  box-shadow: $box-shadow;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  z-index: 9999;
  text-align: center;
}
