$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;


// #------------- first form page -------------


.form-image {
  position: absolute;
  bottom: 0;
  z-index: -9999
}

.form-img {
  width: 70%;
  height: 70%;
}

.first-form {
  margin-top: 10vh;
  box-shadow: $box-shadow;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.page-container {
  margin-top: 20vh;
}

h1 {
  font-family: $headers;
  font-weight: bold;
}


// ---------------- error page ---------------------

.error-text {
  box-shadow: $box-shadow;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  z-index: 9999;
  text-align: center;
}
