$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;


// #------------- first form page -------------


.first-form {
  font-family: $text;
}

.first-form-img {
  position: absolute;
  bottom: 0;
  width: 70%;
}

.first-form {
  margin-top: 10vh;
  margin-bottom: 10vh;
  box-shadow: $box-shadow;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 0px;

}

.btn-submit {
  margin-bottom: 5vh;
}


@media (max-width: 990px) {
  .first-form-img {
    display: none;
  }
}

@media (min-width: 991px) {
  .first-form-img {
    width: 55vh;
  }
}

.page-container {
  margin-top: 20vh;
}

h1 {
  font-family: $headers;
  font-weight: bold;
}


// error page ---------------------



.error-image {
  position: absolute;
  bottom: 0;
}

.error-img {
  width: 70%;
  height: 70%;
}

.error-text {
  box-shadow: $box-shadow;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  z-index: 9999;
  text-align: center;
  font-family: $text;
  line-height: 25px;
}

.error-text-header {
  font-family: $headers;
  box-shadow: $box-shadow;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  z-index: 9999;
  text-align: center;
}

