<div class="home">
    <div class="text-home pt-3">
      Test
    </div>
    <%= link_to image_tag("/assets/logo.png", class: 'button-logo'), new_info_path, class: "img-back" %>
    <div class="img-back">
      <%= image_tag('background-home.jpg', class: 'img-home') %>
    </div>
</div>
