<div class="home content">
    <div class="text-home pt-3">
      <p class="mb-2">Tu as terminé ton V.I ? Tu as le droit au chômage ?</p>
      <p class="mb-2">Tu peux vérifier ça avec</p>
    </div>
    <p class="mb-2">Déjà <span style='color: #588A76; font-weight: bold;'><%= Document.count %></span> personnes ont gratté leur chômage avec cette appli</p>
    <%= link_to image_tag("/assets/logo.png", class: 'button-logo'), new_info_path, class: "img-back" %>
    <div class="back-home"></div>
</div>
