<div class="home d-flex flex-column justify-content-center align-items-center">
    <%= link_to image_tag("/assets/logo.png", class: 'button-logo'), new_profile_path %>
    <img src="/assets/background-home2.jpg" alt="">
</div>
