<div class="d-flex">
  <%= wicked_pdf_image_tag 'logo.png', width: "70px", height: "70px" %>
  <div style="font-size: 12px" class="mt-3 text-center">
    Ce document a été produit via l'application <a class="ml-1" href="http://www.grattetonchomage.fr" target="_blank">Grattetonchomage.fr<a>. Il s'agit d'un document d'appui destiné à Pôle Emploi pour l'ouverture des droits aux chômages des personnes de retour de V.I. 
    <br>
    Toutes les informations contenue dans ce document ont été calculées à la date du <%= l Date.today %>
  </div>
</div>
