<div class="error-container content d-flex flex-wrap justify-content-center align-items-center">
  <!-- This file lives in public/404.html -->
  <div class="dialog text-center error-text mx-2">
    <div>
      <h1>Et non ! C'est pas ici que tu vas pouvoir gratter ton chômage !</h1>
      <p>Il y a une erreur de server, tu peux contacter <a class="links" href="https://www.alexislenoir.dev" target="_blank">les admins</a> pour qu'ils règlent ce problème (ces incompétents !)</p>
    </div>
  </div>
</div>
<%= image_tag 'emptypockets.png', class: "error-img" %>