<div class="error-container content d-flex flex-wrap justify-content-center align-items-center">
  <!-- This file lives in public/404.html -->
  <div class="dialog text-center error-text mx-2">
    <div>
      <h1>Et non ! C'est pas ici que tu vas pouvoir gratter ton chômage !</h1>
      <p>La page que tu cherches n'existe pas, tu as peut-être fait une erreur de frappe ou la page a été migrée</p>
    </div>
  </div>
</div>
<%= image_tag 'emptypockets.png', class: "error-img" %>

