<div class="error-container d-flex flex-wrap justify-content-center align-items-center">
  <!-- This file lives in public/404.html -->
  <div class="dialog text-center mx-2">
    <div>
      <h1>Et non ! C'est pas ici que tu vas pouvoir gratter ton chômage !</h1>
      <p>La modification apportée n'a pas pu être réalisée. Tu n'es peut-être pas autorisé à appliquer ce changement (#ControleParental)</p>
    </div>
  </div>
</div>