.icon-trash {
  color: $wintergreen;
  font-size: 12px;
  align-self: top;
  &:hover {
    color: #497463;
  }
}

.links {
  color: $wintergreen;
  &:hover {
    color: #497463;
    text-decoration: none;
  }
}