.pdf-banner {
  height: 300px;
  color: white;
  position: relative;
}

.pdf-banner img {
  height: 300px;
  width: 100%;
}
  
.pdf-banner .banner-title {
  position: absolute;
  top: 90px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.pdf-banner .banner-subtitle {
    position: absolute;
    top: 180px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.pdf-title {
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  border-bottom: solid 0.5px gray;
  margin-bottom: 8px;
}

.pdf-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}

.pdf-subsubtitle {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.pdf-text-container {
  padding: 8px;
  box-shadow: 2px 2px 4px 4px rgba(204, 204, 204, 0.5);
}