
 <div class="error-container d-flex flex-wrap justify-content-center align-items-center flex-column">
    <h1 class="error-text">Eh non, désolé, tu n'as pas le droit au chômage !</h1>
    <br>
    <% if params[:key] == "not_enough" %>
      <h3 class="error-text">
        Tu n'as pas cumulé assez de jours de travail avant ton V.I (mais c'est bien tenté) !
        <br>
        Depuis le <a class="links" href="https://www.service-public.fr/particuliers/vosdroits/F14860" target="_blank">1er Novembre 2019</a> il faut avoir travailler 6 mois sur les 24 derniers mois (avant ton V.I) pour bénéficier du chômage
      </h3>
    <% elsif params[:key] == "not_anymore" %>
      <h3 class="error-text">
        Tu as déjà épuisé tous tes droits au chômage avant ton V.I (mais c'est bien tenté) !
      </h3>
    <% else %>
      <h3 class="error-text">
        Depuis le <a class="links" href="https://www.service-public.fr/particuliers/vosdroits/F14860" target="_blank">1er Novembre 2019</a> il faut avoir travailler 6 mois sur les 24 derniers mois (avant ton V.I) pour bénéficier du chômage
      </h3>
    <% end %>
  </div>
  <div class="error-image">
    <%= image_tag 'moneywanted', class: "error-img" %>
  </div>
