<div class="error-container content d-flex flex-wrap justify-content-center align-items-center flex-column">
  <h1 class="error-text-header">Eh non, désolé, tu n'as pas le droit au chômage !</h1>
  <br>
  <% if params[:key] == "not_enough" %>
    <h3 class="error-text">
      Tu n'as pas cumulé assez de jours de travail avant ton V.I (mais c'est bien tenté) !
      <br>
      Depuis le <a class="links" href="https://www.service-public.fr/particuliers/vosdroits/F14860" target="_blank">1er Novembre 2019</a>, il faut avoir travaillé 6 mois sur les 24 derniers mois (avant ton V.I) pour bénéficier du chômage. Avant cette date la période était de 4 mois (une période de 4 mois a été rétablie pour les contrats se terminant entre le 01/08/2020 et le 31/12/2020 à cause de la Covid-19)
    </h3>
  <% elsif params[:key] == "not_anymore" %>
    <h3 class="error-text">
      Tu as déjà épuisé tous tes droits au chômage avant ton V.I (mais c'est bien tenté) !
    </h3>
  <% else %>
    <h3 class="error-text">
      Depuis le <a class="links" href="https://www.service-public.fr/particuliers/vosdroits/F14860" target="_blank">1er Novembre 2019</a>, il faut avoir travaillé 6 mois sur les 24 derniers mois (avant ton V.I) pour bénéficier du chômage. Avant cette date la période était de 4 mois.
    </h3>
  <% end %>
</div>
<%= image_tag 'emptypockets.png', class: "error-img" %>
