 <div class="error-container d-flex flex-wrap justify-content-center align-items-center">
    <h1 class="error-text">Eh non, désolé, tu n'as pas le droit au chomdu!</h1>
    <br>
  </div>
  <div class="error-image">
    <img src="/assets/nochomage.png" alt="" class="first-form-img">
  </div>
