<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
    <%= wicked_pdf_stylesheet_link_tag "bootstrap.css" -%>
  </head>
  <body onload='number_pages'>
    <div id="header">
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>